@font-face {
   font-family: 'zektonbo';
   font-display: swap;
   src: url('file:////Cheesebun/home/Max/School/OneDrive%20-%20School/Syntechs%20Robotics/Master%20Website/fonts/zektonbo/font.ttf');
}
